name: Cypress E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ secrets.NEXT_PUBLIC_SANITY_PROJECT_ID }}
      NEXT_PUBLIC_SANITY_DATASET: ${{ secrets.NEXT_PUBLIC_SANITY_DATASET }}
      SANITY_API_TOKEN: ${{ secrets.SANITY_API_TOKEN }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm ci

    - name: Run lint
      run: npm run lint

    - name: Run Cypress tests
      run: npm test

#    - name: Upload Cypress screenshots
#      uses: actions/upload-artifact@v4
#      if: failure()
#      with:
#        name: cypress-screenshots
#        path: cypress/screenshots

#    - name: Upload Cypress videos
#      uses: actions/upload-artifact@v4
#      if: always()
#      with:
#        name: cypress-videos
#        path: cypress/videos
#        retention-days: 14